<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="middle-body">

      <h3>Skillset:</h3>
      <table cellspacing="10">
        <tr>
          <th>Skill</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td><strong>Google Sheets <br> Excel Financial <br> Estiamtions <br> Staffing Planning</strong></td>
          <td>🌟🌟🌟🌟🌟  <br> 🌟🌟🌟 <br> 🌟🌟🌟🌟  <br> 🌟🌟🌟🌟 </td>
        </tr>
      </table>
    </div>
  </body>
</html>
